<!-- <nz-page-header>
    <nz-page-header-title>{{pageTitle | uppercase}}</nz-page-header-title>
    <nz-page-header-extra>
    button create 
        <button class="btn-create" nz-button nzType="primary" nzShape="round">
      <i nz-icon nzType="plus"></i>Thêm API
    </button>
    </nz-page-header-extra>
  content
    <nz-page-header-content>
   data table


        <ul nz-menu nzMode="inline">
            <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: listMenus }"></ng-container>
            <ng-template #menuTpl let-menus>
                <ng-container *ngFor="let menu of listMenus">
                    <li *ngIf="menu.MenuParentId == '00000000-0000-0000-0000-000000000000'" nz-menu-item [nzPaddingLeft]="menu.Level * 24" [nzDisabled]="menu.disabled" [nzSelected]="menu.selected">
                        <a>{{ menu.MenuTitle }}{{menu.MenuParentId}}</a>
                    </li>
                    <li *ngIf="menu.MenuParentId != '00000000-0000-0000-0000-000000000000'" nz-submenu [nzPaddingLeft]="menu.Level * 24" [nzOpen]="menu.open" [nzTitle]="menu.title" [nzIcon]="menu.icon" [nzDisabled]="menu.disabled">
                        <ul>
                            <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.Children }"></ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ng-template>
        </ul>
        <nz-table #apiTable nzBordered [nzData]="listMenus" [nzLoading]="isConfirmLoading">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên API</th>
                    <th>Mô tả</th>
                    <th>Href</th>
                    <th>Tên hiển thị sidebar</th>
                    <th>Level</th>
                    <th>Icon</th>
                    <th>Trạng thái</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of apiTable.data; index as i; ">
                    <td>{{i+1}}</td>
                    <td>{{data.MenuName}}</td>
                    <td>{{data.Description}}</td>
                    <td>{{data.MenuHref}}</td>
                    <td>{{data.MenuTitle}}</td>
                    <td>{{data.Level}}</td>
                    <td>{{data.Icon}}</td>
                    <td>
                        <ng-container *ngIf="data.Status == 'Active'">
                            <span class="active"><i nz-icon nzType="check-circle" nzTheme="outline"></i>Hoạt động</span>
                        </ng-container>
                        <ng-container *ngIf="data.Status == 'InActive'">
                            <span class="inactive"><i nz-icon nzType="lock" nzTheme="outline"></i>Không hoạt động</span>
                        </ng-container>
                    </td>
                    <td>
                        <button nz-button nzType="primary" nzShape="round">
              <i nz-icon nzType="edit"></i>Sửa
            </button>
                        <button nz-button nzType="danger" nzShape="round">
              <i nz-icon nzType="delete"></i>Xóa
            </button>

                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-page-header-content>
</nz-page-header> -->
<p> menu-list </p>