<!-- Tao hoac chinh sua thong tin nhan vien -->
<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzRequired>Số CMND/Hộ chiếu:</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="customerIdErrorTpl">
                    <input nz-input placeholder="Số CMND/Hộ chiếu" [(ngModel)]="customerDto.IdentityCardNumber" type="text" formControlName="_ipText_identityCardNumber" />
                    <ng-template #customerIdErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('maxlength')">Số CMND/Hộ chiếu tối đa 20 kí tự</ng-container>
                        <ng-container *ngIf="control.hasError('minlength')">Số CMND/Hộ chiếu ít nhất 8 kí tự</ng-container>
                        <ng-container *ngIf="control.hasError('required')">Vui lòng nhập Số CMND/Hộ chiếu!</ng-container>
                        <ng-container *ngIf="control.hasError('duplicated')">
                            Số CMND/Hộ chiếu đã tồn tại!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzRequired>Họ lót</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Vui lòng nhập Họ lót khách hàng!">
                    <input nz-input placeholder="Họ lót khách hàng" [(ngModel)]="customerDto.FirstName" type="text" formControlName="_ipText_firstName" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzRequired>Tên nhân viên</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Vui lòng nhập tên khách hàng!">
                    <input nz-input placeholder="Tên khách hàng" [(ngModel)]="customerDto.LastName" type="text" formControlName="_ipText_lastName" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzRequired>Ngày sinh</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Vui lòng nhập ngày sinh khách hàng!">
                    <nz-date-picker formControlName="_ipDate_dateOfBirth" [(ngModel)]="customerDto.DateOfBirth" [nzFormat]="dateFormat" nzPlaceHolder="Chọn ngày sinh"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
        <!-- //radio -->
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzRequired>Giới tính</nz-form-label>
                <nz-form-control nzErrorTip="Vui lòng chọn giới tính khách hàng!">
                    <nz-radio-group formControlName="_rdo_gender" [(ngModel)]="customerDto.Gender">
                        <label nz-radio nzValue="False">Nam</label>
                        <label nz-radio nzValue="True">Nữ</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="phoneNumberIdErrorTpl">
                    <input nz-input placeholder="SĐT" [(ngModel)]="customerDto.PhoneNumber" type="text" formControlName="_ipText_phoneNumber" />
                    <ng-template #phoneNumberIdErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('maxlength')">Số điện thoại tối đa 13 kí tự</ng-container>
                        <ng-container *ngIf="control.hasError('required')">Vui lòng nhập Số điện thoại khách hàng!</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label nzRequired>Quốc tịch </nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Vui lòng nhập quốc tịch!">
                    <input nz-input placeholder="Quốc tịch" [(ngModel)]="customerDto.Nationality" type="text" formControlName="_ipText_nationality" />

                </nz-form-control>
            </nz-form-item>
        </div>
    </div>




    <div nz-row [nzGutter]="24">

    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancelButton()">Hủy</button>
        <button nz-button nzType="primary" [nzLoading]="isConfirmLoading" [disabled]="!validateForm.valid" (click)="handleSubmitButton()">Lưu</button>
    </div>
</form>